// RESET CSS 
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {

	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {

	display: block;

}

body {

	line-height: 1;

}

ol, ul {

	list-style: none;

}

blockquote, q {

	quotes: none;

}

blockquote:before, blockquote:after,
q:before, q:after {

	content: '';
	content: none;

}

table {
    
    border-collapse: collapse;
    border-spacing: 0;

    }
*/


a {

	color: inherit;
	text-decoration: inherit;

	&:hover {

		color: inherit;
		text-decoration: inherit;

	}

}

// ######################### END RESET CSS #############################

// FONT
body {

    font-family: 'Montserrat', sans-serif;
    font-family: 'Prompt', sans-serif;

	overflow-x: hidden;


}


/*
// BANNER
.banner {

	
	max-width: 100%;
	height: auto;

}

// CARD
.info-card {

	border: 1px solid rgb(0, 162, 255);

	& img {

		align-self: center;
		max-width: 100%;

	}

}
*/

.container-fluid {

	padding: 0;
	margin-bottom: 1em;

}

// LOGO NAV 
.logo {

	width: 20px;
	height: auto;

	position: relative;
	top: -5px;


	filter: drop-shadow(0 0 .1rem white);

}

.card {

	margin-bottom: 30px;
	margin-top: 30px;

	border: 2px solid rgb(0, 162, 255);

	&:hover {

		transform: scale(1.05);
		box-shadow: 0 0 15px 1px rgba(0, 162, 255, 0.685);

	}

}

.card-title {

	border-radius: 10px;
	padding: 5px 0;
	font-weight: 300;

}

footer {

	margin-top: 1em;
	margin-bottom: 0;
	padding-bottom: 0;

	& ul {

		margin-bottom: 0;
		padding: 1em 0;

	}
}

.description {

	margin-top: 2em;
	
	& .col {

		& h3 {

			padding: 10px 0 10px 10px;
			border-radius: 5px;
			margin-bottom: 15px;

		}

	}

}

.container {

	padding: 0;

}

.container-fluid {

	padding: 0;
	margin-bottom: 0;

}

.jumbo-title {

	margin-top: 1em;

}

.p--modifier {

	margin-top: 1em;
	text-decoration: underline;
	font-size: 1.2em;

}
